.login-page {
  background: #004270 url(../img/background-image-alpha.png) no-repeat bottom center;
  background-size: 80%;

  .logo {
    height: 60px;
    margin: 40px auto 20px auto;
    background: transparent url(../img/logo-login-page.png) no-repeat center center;
  }
}
