.order-history {
  li {
    position: relative;
  }

  dl {
    margin-top: 10px;

    dt {
      display: inline;
      font-size: 13px;
      font-weight: normal;
      color: #9f9f9f;
    }

    dd {
      display: inline;
      font-size: 14px;
    }
  }

  ul > li > div {
    top: 18px;
    right: 0;
    position: absolute;
    text-align:center;
  }

  .item {
    padding: 20px 0px 0px 0px;
    border-style: dotted;
    border-width: 0px 0px 2px 0px;

    &:hover {
      background-color: rgba(127, 127, 127, 0.1);
    }

    p {
      font-weight: lighter;
      white-space: normal;
    }

    i.icon {
      position: relative;
      display: inline-block;
      font-size: 14px;
      color: #00a88a;
    }
  }

  .meta {
    font-style: italic;
    font-size: 12px;
  }

  .sidelabel {
    text-align: center;
    font-size:.9em;
  }

  .status {
    color: #fff;
    height: 18px;
    padding: 0 2px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    line-height: 1.5;

    &.bloqueado {
      background-color: red;
    }

    &.rascunho {
      background-color: #fc9a00;
    }

    &.liberado {
      background-color: #75b55e;
    }

    &.reprovado {
      background-color: #cdae00;
    }

    &.rejeitado {
      background-color: black;
    }

    &.bonificada {
      background: orange
    }

    &.venda {
      background: blue
    }
  }

  .padding {
    padding: 15px 15px 15px 15px;
  }

  .section-header {
    color: #000;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
    padding-bottom: 3px;
  }
}
