<ion-view>
    <ion-nav-title>
        <p>Planejamento {{ visitPlanningService.planDate | date: 'dd/MM/yyyy'}}</p>
    </ion-nav-title>
    <div class="bar-subheader item-input clients-search-bar" style="top:87px;">
        <form class="item-input-wrapper" ng-submit="search()">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" class="input-search" placeholder="Busca" ng-model="query.term" />
            <i ng-if="query.term.length" class="fa fa-times-circle" ng-click="clearQuery()"></i>
        </form>
        <button ng-click="search()" style="padding: 6px 5px 5px">Buscar</button>
    </div>

    <ion-content padding="true" class="clients has-subheader planning-has-subheader">
        <ul class="list list-header">
            <li ng-repeat="(key, value) in visitPlanningService.cacheListAccounts" class="item item-header item-planning" ng-show="filteredValue.length">
                <h1>{{key}}</h1>
        
                <ul class="list">
                    <li class="item item-planning" ng-repeat="client in value as filteredValue track by client.Id" ng-click="toggleSelect(key, client.Id)">
                        <h2> {{::client.nomeFantasia__c}}</h2>
                        <p><strong>Razão social:</strong> {{::client.Name}}</p>
                        <p><strong>Código e loja:</strong> {{::client.codigoCliente__c}}-{{::client.loja__c}}</p>
                        <p><strong>Loja do cliente:</strong> {{::client.lojaCliente__c}}</p>
                        <p><strong>CNPJ: </strong>{{::client.cnpjCpf__c}}</p>
                        <p><strong>Bairro: </strong>{{::client.bairro__c}}</p>
                        <p><strong>Cód. Vendedor</strong> {{::client.vendedorRepresentante__r.codigo__c}}</p>
                        <p><strong>Vendedor</strong> {{::client.vendedorRepresentante__r.Name}}</p>
                        <p><strong>Ultíma Positivação:</strong> {{::client.DataUltimaPositivacao__c | date:'dd/MM/yyyy'}}</p>
                        <div ng-show="!client.ClientePositivado__c && !client.selected">
                            <i class="fa fa-bell-o fa-red"></i>
                        </div>
                        <div ng-show="client.ClientePositivado__c && !client.selected">
                            <i class="fa fa-bell-o fa-green"></i>
                        </div>

                        <div ng-show="!client.ClientePositivado__c && client.selected">
                            <i class="fa fa-bell fa-red"></i>
                        </div>
                        <div ng-show="client.ClientePositivado__c && client.selected">
                            <i class="fa fa-bell fa-green"></i>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </ion-content>

</ion-view>