<ion-view cache-view="false">
<ion-content padding="true">

    <!-- main content warning -->
    <div>
        <ion-content scroll="false">
            <div class="versionAlert">
                <p><i class="fa fa-info-circle fa-1x"></i> Teste A versão do App de vendas do seu celular se encontra desatualizado.</p>
                <p>Realize o download e instale a nova versão para que o seu App de Vendas volte a funcionar normalmente!</p>
                <div align="center" style="margin:0 auto;">
                    <div class="button button-balanced" onclick="window.open('https://drive.google.com/open?id=1MW1qIk3xeUHvbJw_wADsfpgv0LbK_rWx', '_system', 'location=yes'); return false;">Download <i class="icon ion-ios-download"></i></div>
                </div>
            </div>
            <!--
                Repositório para Homologação:
                https://drive.google.com/open?id=1I0pLyOEY3a7vUfcZeOds4i8z_hSyoIth

                Repositório para Produção:
                https://drive.google.com/open?id=1MW1qIk3xeUHvbJw_wADsfpgv0LbK_rWx
            -->
        </ion-content>
    </div>
    <!-- end main content warning -->

</ion-content>
</ion-view>
